@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --black: #1A120B;
    --darkBrown: #3C2A21;
    --lightBrown: #D5CEA3;
    --whiteBrown: #E5E5CB;
    font-family: 'Poppins', sans-serif;
}

/* CSS Reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--darkBrown);
    color: var(--whiteBrown);
}

.outlinedText {
    font-size: 2em;
    color: var(--whiteBrown);
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* End of CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Grid Styling */
.grid-container{
    background-color: var(--lightBrown);
    text-align: center;
}

.grid-item{
    background-color: var(--whiteBrown);
    color: var(--darkBrown);
}

.title{
    padding: 1rem;
    background-color: var(--lightBrown);
    color: var(--whiteBrown);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5,
.grid-item-6 {
    background-color: var(--whiteBrown);
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
    border-radius: 4px;
    /* Add this line to make the corners rounded */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add this line to create a shadow */
    transition: all 0.3s ease;
    /* Add this line for smooth transition */
}

.grid-item-1:hover,
.grid-item-2:hover,
.grid-item-3:hover,
.grid-item-4:hover,
.grid-item-5:hover,
.grid-item-6:hover {
    transform: translateY(-10px);
    /* Add this line to move the item up on hover */
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
    /* Add this line to create a bigger shadow on hover */
}
/* end grid styling  */


