@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --black: #1A120B;
    --darkBrown: #3C2A21;
    --lightBrown: #D5CEA3;
    --whiteBrown: #E5E5CB;
    font-family: 'Poppins', sans-serif;
}

/* CSS Reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--darkBrown);
    color: var(--whiteBrown);
}

.outlinedText {
    font-size: 2em;
    color: var(--whiteBrown);
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* End of CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.gridItem{
    background-color: var(--black);
    color: var(--whiteBrown);
}